@model ApplicationCore.Models.CastDetailsModel

<h1>@Model.Name</h1>
<h2>@Model.Gender</h2>
<img src=@Model.ProfilePath />

<ul>
    @foreach(var movie in @Model.Movies){
        <li>@movie.Title</li>
    }
</ul>
